body{
    background: rgb(24,1,42);
    background: rgb(80,81,221);
    background: linear-gradient(90deg, rgba(80,81,221,1) 23%, rgba(15,151,196,1) 53%, rgba(113,170,221,1) 89%);
        
  }
  .box-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
  }
  
  .box {
    width: 300px;
    height: 400px;
    background-color: #49cbdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  
  .box-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .box-text {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
  }